* {
	font-family: 'Nunito';
}

header {
	background-color: #84FFD3;
	text-align: center;
	font-size: 24px;
	font-weight: 400;
	color: #5C5C5C;
	padding: 1em;
}

main {
	text-align: center;
	background-color: #BEB3F1;
	height: 100vh;
}

section figure img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

figure {
	padding: 48px;
}

section figure figcaption {
	font-weight: 900;
	font-size: 25px;
	color: #5C5C5C;
	margin: 10px;
}

ul {
	width: 30%;
	margin: 0 auto;
}

li {
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.15);
	border-radius: 0px 32px 0px 0px;
	padding: 19px 0;
	margin: 16px 0;
}

li a {
	text-decoration: none;
	font-weight: 600;
	font-size: 20px;
	color: #5C5C5C;
}